<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Ahoy from {{title}}!!
  </h1>
  <table>
    <tr>
      <th>Nurse</th>
      <td>{{clinicRooms.nurse}}</td>
    </tr>
    <tr>
      <th>Registrar 1</th>
      <td>{{clinicRooms.registrar1}}</td>
    </tr>
    <tr>
      <th>Registrar 2</th>
      <td>{{clinicRooms.registrar2}}</td>
    </tr>
    <tr>
      <th>Consultant</th>
      <td>{{clinicRooms.consultant}}</td>
    </tr>
    <tr>
      <th>Radiologist</th>
      <td>{{clinicRooms.radiologist}}</td>
    </tr>
    <tr>
      <th>Phlebotomist</th>
      <td>{{clinicRooms.phlebotomist}}</td>
    </tr>
  </table>
</div>
